<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle=" {{ 'Home' | translate }} " tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle=" {{ 'Projects' | translate }} " tabIcon="git-branch"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle=" {{ 'Team' | translate }} " tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle=" {{ 'Contact' | translate }} " tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle=" {{ 'Setting' | translate }} " tabIcon="build"></ion-tab>
</ion-tabs>
