<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'Team' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-card class="member" (click)="detail('Fabien')">
        <img src="assets/images/doctor_who.jpg" />
        <ion-card-content>
            <ion-card-title>
                Fabien Blancheton
            </ion-card-title>
            <p>
                {{ 'Developer IOS and Web' | translate }}
            </p>
            <p>
                {{ 'The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.' | translate }}
            </p>
        </ion-card-content>
    </ion-card>
    <ion-card class="member" (click)="detail('Alaric')">
        <img src="assets/images/bigfish_begonia.jpg" />
        <ion-card-content>
            <ion-card-title>
                Alaric Quachéro
            </ion-card-title>
            <p>
                {{ 'Developer Android and Ionic' | translate }}
            </p>
            <p>
                {{ 'The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.' | translate }}
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>
