<ion-header>
    <ion-navbar>
        <ion-title>
            Geocatching
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card id="info">
        <img src="assets/images/fossegrim.jpg" />
        <ion-card-content>
            <ion-card-title>
                Geocatching
            </ion-card-title>
            <p>
                {{ 'A team game with aim of catch areas in map' | translate }}
            </p>
            <p>
                <strong>{{ 'Platform : ' | translate }}</strong>
                <ion-icon color="androidColor" name="logo-android"></ion-icon> Android
            </p>
            <p>
                <strong>{{ 'Team : ' | translate }}</strong>
                Quachéro Alaric, Blancheton Fabien, Rugoletto Romuald, Orlandini Nicolas, Guiot Kévin
            </p>
            <p>
                <strong>{{ 'Time : ' | translate }}</strong>
                4 {{ 'Months' | translate }}
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>
