<ion-header>
    <ion-navbar>
        <ion-title>
            Mimir
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card id="info">
        <img src="assets/images/mimir.jpg" />
        <ion-card-content>
            <ion-card-title>
                Mimir
            </ion-card-title>
            <p>
                {{ 'A enigm game on Windows Phone who use the components of the device' | translate }}
            </p>
            <p>
                <strong>{{ 'Platform : ' | translate }}</strong>
                <ion-icon color="windowsColor" name="logo-windows"></ion-icon> Windows Phone
            </p>
            <p>
                <strong>{{ 'Team : ' | translate }}</strong>
                Benarroche Marion, Rosso Jessica, Quachéro Alaric, Blancheton Fabien
            </p>
            <p>
                <strong>{{ 'Time : ' | translate }}</strong>
                2 {{ 'Months' | translate }}
            </p>
        </ion-card-content>
        <a ion-button href="https://bitbucket.org/Fodzii/projet_mimir">
            <ion-icon name="git-branch"></ion-icon>
            {{ 'Repository' | translate }}
        </a>
    </ion-card>
</ion-content>
