<ion-header>
    <ion-navbar>
        <ion-title>
            {{ 'Contact' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div #map id="map" style="height:50%;"></div>
    <p>
         {{ 'The majority of his members who have grew up in Nice region, Quacheton enterprise is install in this earth of character, between sea and mountain, in the city of Sophia Antipolis at 650 route des Colles adress.' | translate }}
    </p>
    <p>
         {{ 'If you have a project in the web or mobile domain (multiplatform of native), dont hesitate to visit us ! We can have a conversation around a drink, in the cofee terrace, under the beautiful Azurian sun' | translate }}
    </p>
    <p>
        {{ 'And if you cannot travel, contact us by phone, mail in the adress or by filling out the form when you click on the contact us button !' | translate }}
        <br>{{ 'We will reply as soon as possible.' | translate }}
    </p>
    <p>
        <button ion-button color="primary" (click)="openModal()">{{ 'Contact us !' | translate }}</button>
    </p>
</ion-content>
