// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
h2 {
    text-align: center;
}

h3 {
    font-size: 3wh;
    text-align: center;
}

h4 {
    font-size: 2wh;
    text-align: center;
}

p {
    text-align: center;
}

ion-card-title{
    text-align: center;
}

a{
	ion-icon{
		margin: 5%;
	}
}

.modal-wrapper{
    margin: 20px;

    .scroll-content{
        overflow: hidden;
    }
    ion-title{
        text-align: center;
    }
}
