<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'Settings' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-card-title>
                {{ 'Language' | translate }}
            </ion-card-title>
            <button ion-button color="primary" (click)="changeLangue('en')">English</button>
            <button ion-button color="primary" (click)="changeLangue('fr')">Français</button>
        </ion-card-content>
    </ion-card>
</ion-content>